#units li {
    list-style-type: none;
    text-align: center;
}

#about {
    transition: .3s;
}

#about:hover {
    background-color: #797979;
    color: white;
}

#skills {
    transition: .3s;
}

#units {
    transition: .3s;
}

#skills:hover {
    background-color: #797979;
    color: white;
}

#units:hover {
    background-color: #797979;
    color: white;
}

#about:hover .display-4 {
    font-weight: bold;
}

#skills:hover .display-4 {
    font-weight: bold;
}

#skills:hover .display-4 {
    font-weight: bold;
}

#units:hover .display-4 {
    font-weight: bold;
}